:root {
	--background-color-light: #f9f9f9;
}

.app {
	text-align: center;
}

.loader {
	width: 50px;
	height: 50px;
	position: fixed;
	border: 2px solid #ccc;
	border-radius: 50%;
	top: 45%;
	left: 50%;
	background-color: transparent;
	border-left-color: transparent;
	transform: translate(-50% -50%);
	animation: loader 1s ease-in-out infinite normal;
	display: block;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.modalTitle {
	text-align: left;
	margin: 0;
	padding: 0;
}
