.todoListItem {
	display: flex;
	font-size: 1.2em;
	justify-content: space-between;
	align-items: center;
	max-width: 870px;
	scroll-behavior: auto;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 8px;
	background-color: #f9f9f9;
	transition:
		box-shadow 0.3s,
		transform 0.2s ease;
	color: black;
	text-decoration: none;
	will-change: transform, box-shadow;
}

.todoListItem:hover {
	transform: scale(1.05);
	box-shadow: 2px 2px 2px #b4b4b4;
}

.todoItemContent {
	padding: 0;
	text-align: left;
	max-width: 90%;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}